*   {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body   {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

:root   {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --dark: #2A2E2A ;
    --yellow: #F4CE47;

}

body > div  {
    min-height: 100px;
    /* border: 1px solid red; */
}

  /* Navigation section */
  .navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 1200px;
    padding: 20px 24px; */
    margin: 16px;
    padding: 16px;
    height: 96px;
    /* top: 24px;
    left: 264px; */
    opacity: 96%;
    background-color: var(--dark);
  
    border-radius: 20px;
    position: sticky;
  }

  .left-navbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
  }

  .middle-navbar >ul >li {
    list-style-type: none;
    display: inline;
    margin-right: 20px;
    /* align-content: center; */
    /* display: flex; */
    justify-content: space-evenly;
    color: white;
  }

  .right-navbar {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;

  }
  a:link { 
    text-decoration: none;  
    color: white; 
  } 
  a:visited { 
    text-decoration: darkblue; 
  } 
  a:hover { 
    text-decoration: none; 
    color: hotpink;
  } 
  a:active { 
    text-decoration: blue;
    color: none; 
  }

  .right-navbar > a > button {
    background-color: var(--yellow);
    width: 80px;
    height: 40px; 
    border-radius: 10px;
    border: none;
    cursor: pointer;
} 

/* Top banner section */
.banner {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;

  background-color: var(--yellow);
  height: 80px;
  /* gap: 24px; */
}

.banner-books  { 
  font-size: 30px;
  color: rgba(182, 21, 21, 0.214);
  font-weight: normal;
}


#bestsellers    {
    display: flex;
    flex-direction: column;
    gap: 32px;

    background-color: var(--dark);
    padding: 44px 24px;
}

#bestsellers-listing    {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    padding-left: 300px;
    padding-right: 300px;   
}

.card   {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-grow: 1;

    /* position: relative; */
    background-color: white;
    width: 30%;
    min-width: 150px;
    /* height: 577px; */
    border-radius: 20px;
    padding: 16px;
    }

.card   >div    {       
    display: flex;
    /* gap: 5px;
    flex-grow: 1;
    border: 1px dotted purple; */
}

.card-image {
    /* width: 212px; */
    /* max-width: fit-content;
    height: 368px;
    max-height: 100%; */
    /* max-width: 100%; */
    width: 90%;
    height: auto;
    border-radius: 16px;
    background-color: burlywood;
}

.card-content-name  {
    /* width: 212px;
    height: 368px; */
    max-width: 100%;
    height: auto;
}

.card-content-comments  {
    max-width: 100%;
    height: auto;
    gap: 15px;
}

.card-content-prices {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
    gap: 30px;
}

.card-content-comments   > button {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 8px;
    margin-top: 10px;
    border-radius: 16px;
    cursor: pointer;
    border: 1px solid black;
    background-color: white;
}

img {
    /* width: 268.667px; */
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: right;
}

#footer {
    /* background-color: var(--yellow); */
    width: 1248px;
    /* padding: 16px; */
    /* border: 8px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex-shrink: 0;
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    background-color: var(--dark);
    width: auto;
    color: white    ;
}

.left-footer-top    {
    display: flex;
    gap: 2em;
    align-items: center;
}

.right-footer-top   {
    display: flex;
    gap: 2em;
    align-items: center;
}

.footer-bottom  {
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    
    background-color: #000000;
    width: auto;
    color: white;
    font-size: 12px;
}

.left-footer-bottom {
    display: flex;
    gap: 2em;
    align-items: center;
}

.right-footer-bottom {
    display: flex;
    gap: 2em;
    align-items: center;
}
    
.font-mono  {
    font-family: 'Courier New', Courier, monospace;
}

.font-reset {
    font-family: initial;
}

/* @media screen and (max-width: 600px) {
    body {
        width: 100%;
    }
} */

/* 
.debug  {
    border: 1px solid red;
} */

